{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title> Dashboard </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/pricing.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"> Logo</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'profile' %}">My Profile</a>
        <a class="p-2 text-dark" href="#">Notifications</a>
      </nav>

      <!-- adding drop down button -->
      <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Settings</a></li>
              <li><a href="{% url 'login' %}">Logout</a></li>
            </ul>
      </div>
      
    </div>
    {% block headerbar %}
    {% endblock headerbar %}
    </body>
    </html>