
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>{% extends &#39;base.html&#39; %}
  {% load static %}
  
  
    
      
      
      
      
      
  
      
  
      
      
  
      
      
  
       
       
        
  
    
  
    <div>
          {% block headerbar %}
      
  
      <div>
        <div>
          
            <div>
              <ul>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Filter <span>(current)</span>
                  </a>
                </li>
                <form method="post" target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}"> {% csrf_token %}
                <li>
                  <a href="#0.2_">
                  <span></span>
                    Date
                      From:<input type="date" name="from_date"> To: <input type="date" name="to_date"> 
                  </a>
                </li>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Rating
                      <input type="text" name="rating">
  
                  </a>
                </li>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Product
                      <input type="text" name="product">
                  </a>
                </li>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Keyword
                      <input type="text" name="keyword">
                  </a>
                </li>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Positive Feedbacks
                  </a>
                </li>
                <li>
                  <a href="#0.2_">
                    <span></span>
                    Negative Feedbacks
                  </a>
                </li>
                <input type="submit" name="Apply">
                </form>
              </ul>
            </div>
          
  
          
              <div>
                  <h1>Feedbacks</h1>
              </div>
          
        </div>
      </div>
  
      
      
      
      
      
      
  
      
      
      
  
      
      
      
      {% endblock headerbar %}
    </div>
  
  </body></html>