{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title> Dashboard </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/pricing.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/style.css' %}">
  </head>

  <body>

      <div style="background-color: #111;width: 100%;height:1.9cm;font-size: 1.4rem;color: white;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
          <h5 style="color:white;font-weight: 800;"class="my-0 mr-md-auto font-weight-normal"> Logon</h5>
          <nav style="color:white;" class="my-2 my-md-0 mr-md-3">
            <a style="color:white;" class="p-2 " href="{% url 'profile' %}">My Profile</a>
            <a style="color:white;font-weight: 500;font-size: 1.4rem"class="p-2 " href="#">Notifications</a>
          </nav>
  
        <!-- adding drop down button 
        <div class="dropdown">
            <button style="background-color: whitesmoke;outline-color: #111;"class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'login' %}">Logout</a></li>
              </ul>
        </div> -->
        
      </div>

    <div class=" px-3 py-3 pb-md-4 mx-auto text-center">
      <h1 style="font-size: 4.5rem;
      font-weight: 600;
      line-height: 1.2;">Dashboard</h1>
      <p class="lead">This is a one stop shop where a seller on an e-commerce website can view his health and performance. This tool also provides recommendations to the seller.</p>
    </div>
    <div class="row" style="padding-left: 110px; padding-right:110px;">
         <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow" style="width: 200px" >
                <div class="card-header">
                    <h4 style="font-weight: 600;"class="my-0">Health</h4>
                </div>
          <div class="card-body">
                
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Know your health.</li>
                  
                </ul>
                <a style="position:absolute;width:7cm ;bottom:20px;" href="{% url 'login' %}" class="btn btn-lg btn-block btn-primary">Know More</a>
          </div>
        </div>
        

    
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 style="font-weight: 600;"class="my-0">Performance</h4>
          </div>
          <div style="min-height:250px"class="card-body">
            
            <ul class="list-unstyled mb-4">


                <div style="position:relative ;top:0px;" class="wrapper">
                    <div style="position: relative ;top:0px;" class="c100 p80 blue">
                        <span>{% for key,val in performance.items %}
                            {{val}}%
                          {%endfor%}</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                    </div>
                  
                  </div>




              <li>Know your performance on the basis of different traits</li>
                  
            </ul>
            <button style="position:absolute;width:7cm ;bottom:20px;" type="button" href="{% url 'login' %}"class="btn btn-lg btn-block btn-primary">Know More </button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 style="font-weight: 600;"class="my-0">Recommendations</h4>
                </div>
                <div class="card-body">
                  
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>See there are some recommendations for you.</li>
                  
                  </ul>
                  <button style="position:absolute;width:7cm ;bottom:20px;" type="button" href="{% url 'login' %}"class="btn btn-lg btn-block btn-primary">Know More </button>
                </div>
                </div>

         
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 style="font-weight: 600;"class="my-0">Feedback</h4>
          </div>
          <div class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
              <li>Check your Feedbacks.</li>
                  
            </ul>
            <button style="position:absolute;width:7cm ;bottom:20px;" type="button"href="{% url 'login' %}" class="btn btn-lg btn-block btn-primary">Know More </button>
          </div>
        </div>
      </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    
    <script src="{% static '/assets/js/vendor/popper.min.js' %}"></script> 
    <script src="{% static '/dist/js/bootstrap.min.js' %}"></script> 
    <script src="{% static '/assets/js/vendor/holder.min.js' %}"></script>  

    <link href="{% static '/pricing.css' %}" rel="stylesheet">

    <script  src="{% static '/index.js' %}"></script>

    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
